body {
  background-color: #EEE7D7;
}

.header {
  display: flex;
}

.logo-image {
  margin-top: 50px;
  margin-left: 100px;
  width: 350px;
}

.text {
  margin-top: 25px;
  margin-left: 75px;
  margin-right: 100px;
}

.title-hr {
  border-top: 2px solid rgb(0, 0, 0);
}

.gallery-hr {
  margin-left: 100px;
  margin-right: 100px;
  border-top: 5px solid rgb(0, 0, 0);
}

/* The following code was adopted from Masonry, which is a cascading grid library. This was implemented to 
mimic the Pinterest layout for my gallery page memory photos.
Source: https://masonry.desandro.com/#download*/
.container {
  width: 1400px;
  margin: 20px auto;
  columns: 4;
  column-gap: 20px;
}

.container .box {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}

.container .box img {
  max-width: 100%;
  border-radius: 15px;
}

/* Responsive design */
/* Computer Screen */
@media (max-width: 1200px) {
  .container {
    width: calc(100% - 40px);
    columns: 4;
  }
}

/* Tablet Screen */
@media (max-width: 768px) {
  .container {
    columns: 3;
  }
}

/* Mobile Screen iPhone 12 Pro*/
@media (max-width: 480px) {
  .container {
    columns: 1;
  }

  .header {
    display: block;
  }

  .logo-image {
    margin-top: 50px;
    margin-left: 100px;
    max-width: 200px;
  }
  
  .text {
    margin-top: 25px;
    margin-left: 75px;
    margin-right: 100px;
    text-align: center;
  }
  
  .title-hr {
    border-top: 2px solid rgb(0, 0, 0);
  }
  
  .gallery-hr {
    margin-left: 100px;
    margin-right: 100px;
    border-top: 5px solid rgb(0, 0, 0);
  }
}