/* HW1 CSS */
hr {
    border-top: 5px solid rgb(0, 0, 0);
}

.logo-image {
    width: 400px;
}

.logo:hover {
    background-color: white;
}

.head-link {
    text-decoration: none;
}

.product-image {
    width: 285px;
    height: 285px;
    border: 3px solid #0a0a0a
}

.gallery {
    text-align: center;
}

.box {
    display: inline-block;
    text-align: left;
    padding: 5px 5px;
}

.box:hover {
    background-color:yellow;
    cursor: pointer;
    font-weight: bold;
}

.product-name{
    text-decoration: underline;
}

.price {
    font-weight: normal;
}

a{
    color:#0a0a0a;
    text-decoration: none;
}

a:visited{
    color:#0a0a0a;
}

.highlight {
    background-color: yellow;
}

.product-detail-image {
    width: 600px;
    height: 600px;
    border: 3px solid #0a0a0a
}

.product {
    display: block;
    text-align: center;
}

.product-unit {
    text-align: center;
}

.align-boxes{
    display : inline-block;
    text-align: right;
}

.product-details {
    display: inline-block;
    text-align: left;
}

.cart {
    text-align: center;
}

.product-cart-image {
    width: 200px;
    height: 200px;
    border: 3px solid #0a0a0a
}

.cart-hr {
    border-top: 5px solid rgb(0, 0, 0);
    width:600px
}

.remove-btn {
    font-weight: bold;
    background-color: white;
    border: 0px;
    text-align: center;
    text-decoration: underline;
}

.checkout-btn {
    background-color: yellow;
    width: 100px;
    text-align: center;
}

body{
    font-size: 20px;
    font-family: Helvetica; 
}

/* HW2 header */

.header {
    display: flex;
}

.logo {
    margin-left: auto;
    width: 680px
}

.header-right{
    width: 100%;
}

.navbar{
    display: flex;
    margin-top: 45px;
    margin-bottom: 45px;
}

.select{
    margin-left: auto;
    margin-right: 0px;
    font-weight: bold;

}

.unselect{
    margin-left: 70px;
    margin-right: 50px;
}

.title{
    font-size: 33px;
    margin-top: 55px;
    margin-bottom: 70px;
}

/* HW2 gallery */

.row{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

.item{
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 30px;
}

/* HW2 product detail */

.product-page {
    display: flex;
}

.product-info-image {
    margin-left: 100px;
}

.product-info {
    margin-top: 20px;
    margin-left: 70px;
}

.order-text {
    margin-bottom: 50px;
}

select, option {
    width: 260px;
    font-size: 20px;
    padding: 10px 10px;
    border: 2px solid black;
}

.order-cart {
    display: flex;
    margin-top: 150px;
}

.price {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 0px;
    font-weight: bold;
}

.cart-btn {
    margin-left: auto;
    margin-right: 0px
}

.add-btn {
    background-color: yellow;
    width: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 10px;
}