/* HW1 CSS */

body{
    font-size: 19px;
    font-family: Helvetica; 
}

hr {
    border-top: 5px solid rgb(0, 0, 0);
}

.logo-image {
    width: 400px;
}

.logo:hover {
    background-color: white;
}

.head-link {
    text-decoration: none;
}

.product-image {
    width: 285px;
    height: 285px;
    border: 3px solid #0a0a0a
}

.gallery {
    text-align: center;
}

.box {
    display: inline-block;
    text-align: left;
    padding: 5px 5px;
}

.box:hover {
    background-color:yellow;
    cursor: pointer;
    font-weight: bold;
}

.product-name{
    text-decoration: underline;
}

.price {
    font-weight: normal;
}

a{
    color:#0a0a0a;
    text-decoration: none;
}

a:visited{
    color:#0a0a0a;
}

.highlight {
    background-color: yellow;
}

.product-detail-image {
    width: 600px;
    height: 600px;
    border: 3px solid #0a0a0a
}

.product {
    display: block;
    text-align: center;
}

.product-unit {
    text-align: center;
}

.align-boxes{
    display : inline-block;
    text-align: right;
}

.product-details {
    display: inline-block;
    text-align: left;
}

.product-cart-image {
    width: 200px;
    height: 200px;
    border: 3px solid #0a0a0a
}

.remove-btn {
    font-weight: bold;
    background-color: white;
    border: 0px;
    text-align: center;
    text-decoration: underline;
}


/* HW2 header */

.header {
    display: flex;
}

.logo {
    margin-left: auto;
    width: 680px
}

.header-right{
    width: 100%;
}

.navbar{
    display: flex;
    width: 300px;
    margin-left: auto;
    margin-right: 70px;
    margin-top: 45px;
    margin-bottom: 45px;
    justify-content: space-between;
}

.select{
    font-weight: bold;
}

.title{
    font-size: 33px;
    margin-top: 55px;
    margin-bottom: 70px;
}

/* HW2 gallery */

.row{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-evenly;
}

.item{
    margin-bottom: 30px;
    padding: 5px 5px;
}

/* HW2 product detail */

.product-page {
    display: flex;
}

.product-info-image {
    margin-left: 100px;
}

.product-info {
    margin-top: 20px;
    margin-left: 70px;
}

.order-text {
    margin-bottom: 50px;
}

select, option {
    width: 260px;
    font-size: 20px;
    padding: 10px 10px;
    border: 3px solid black;
}

.order-cart {
    display: flex;
    margin-top: 150px;
}

.price {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 0px;
}

.cart-btn {
    margin-left: auto;
    margin-right: 0px
}

.add-btn {
    background-color: yellow;
    width: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 10px;
    border: 3px solid black;
}

/* HW2  cart */

.cart-product {
    display: flex;
}

.cart-img {
    margin-left: 440px;
}

.cart-details {
    margin-left: 50px;
    margin-top: 70px;
    width: 370px;
}

.cart-price {
    justify-content: flex-end;
    margin-top: 95px;
}

.remove {
    margin-left: 435px;
    margin-bottom: 20px;
}

.cart-line {
    margin-left: 440px;
}

.cart-hr {
    border-top: 5px solid rgb(0, 0, 0);
}

.total {
    margin-left: 700px;
    display: flex;
}

.total-text {
    width: 370px;
}

.total-cost {
    justify-content: flex-end;
}

.checkout {
    margin-left: 990px;
    margin-top: 50px;
}

.checkout-btn {
    background-color: yellow;
    width: 100px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    width: 150px;
    padding: 5px 5px;
    border: 3px solid black;
}





